body {
    color:rgb(62, 37, 227);
    font-weight: bold;
    display: block;
    background-color: lightgray;

}

#outTable {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #outTable td, #outputTable th {
    border: 1px solid rgb(221, 221, 221);
    padding:8px;
  }
  
  #outTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #outTable tr:hover {background-color: rgb(221, 221, 221);}
  
  #outTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #046daa93;
    color: white;
  }

  .button {
    background-color: #046daa93;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }